body{
  margin:0;
  font-size: 16px;
  font-family: "Arial", sans-serif;
  background-color: #25c9db;

}

.h1{
font-size: 36px;
}

.header-image{
  margin:0;

}
.header{

}
.fsooter{
  background-color: #25c9db;
}
